html {
    box-sizing: border-box;
    font-size: 17px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $primary-font;
    font-size: $body-font-size;
    line-height: $body-line-height;
}

.image {
    max-width: 100%;
    height: auto;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: $container-max + $space * 4;
    padding-left: $space * 2;
    padding-right: $space * 2;
}

.selected, .unselected {
    display: inline-block;
    color: #00FFCC;
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: #00FFCC;
        transition: width .3s;
    }
    &:hover::after {
        width: 100%;
    }
}

.selected {
    font-weight: 700;
    &::after {
        width: 33px;
    }
}

