html {
    box-sizing: border-box;
    font-size: 17px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $primary-font;
    font-size: $body-font-size;
    line-height: $body-line-height;
}

.container {
    margin: 0 auto;
    max-width: $container + $space * 4;
    padding-left: $space * 2;
    padding-right: $space * 2;
}

.btn {
    &:hover {
        cursor: pointer;
    }

    &__primary {
        border: none;
        min-width: $space * 20;
        min-height: $space * 6;
        color: $white-color;
        background-color: $primary-color;
        transition: all .5s;

        &:hover {
            color: $primary-color;
            background-color: $white-color;
            box-shadow: inset 0px 0px 0px 1px $primary-color;
        }
    }

    &__black {
        max-width: $space * 20;
        max-height: $space * 7;
        display: inline-block;
        margin-right: $space * 2;

        &__image {
            width: 100%;
            height: auto;
        }

        @include max-media($br-deskopt) {
            min-width: unset;
            min-width: unset;
            margin-right: unset;

            &--google-play {
                margin-right: $space * .8;
            }
            &--app-store {
                margin-left: $space * .8;
            }
        }
    }
}
