@mixin grid($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@mixin grid-col($i:1) {
    @media (min-width: $br-mobile + 1px) {
        width: (100% / $i); // background-color: orange;
    }
    @media (max-width: $br-mobile) {
        width: 100%; // background-color: red;
    }
}

@mixin grid-col-tablet($i:1, $minmax:min) {
    @media (#{$minmax}-width: $br-tablet + 1px) {
        width: (100% / $i); // background-color: blue;
    }
    @media (#{$minmax}-width: $br-tablet) {
        width: (100% / $i); // background-color: rgb(57, 57, 212);
    }
}

@mixin grid-col-deskopt($i:1, $minmax:min) {
    @media (#{$minmax}-width: $br-deskopt + 1px) {
        width: (100% / $i); // background-color: green;
    }
    @media (#{$minmax}-width: $br-deskopt) {
        width: (100% / $i); // background-color: rgb(53, 211, 53);
    }
}
