html {
        box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 17px;
}

body {
    font-family: $font-1;
    font-size: $body-font-size;
    line-height: $body-line-height;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: 0;
    padding: 0;
}

p {
    margin: $space * .5 0;
}

.wrapper {
    margin: 0 auto;
    padding-left: $space;
    padding-right: $space;
    max-width: $wrapper-max;
}

%simple-text-shadow {
    text-shadow: 1.5px 1.5px #000;
}

%simple-box-shadow {
    box-shadow: 1.5px 1.5px 1.5px #000;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}
