// DESKOPT
.hdr-top {
    max-height: $max-deskopt-hdr-top-height;
    display: flex;
    justify-content: space-between;
    &__logo {
        align-self: flex-end;
        padding-bottom: $deskopt-header-space * .25;
        padding-left: $space * 5;
    }
    &__nav {
        display: none;
    }
    &__registration {
        display: flex;
        align-content: center;
        justify-content: space-between;
        font-size: $body-font-size * 0.76;
        @include grid-col-deskopt(1.3, max);
        @include max-media($br-tablet) {
            display: none;
        }
        &__link {
            color: $black-color;
        }
        &__list {
            align-self: flex-end;
            padding-bottom: $deskopt-header-space * .25;
            display: flex;
            justify-content: space-between;
        }
        &__element {
            padding-right: $space * 5;
        }
        &__globe {
            align-self: flex-end;
            padding-bottom: $deskopt-header-space * .25;
            padding-left: $space * 2;
            padding-right: $space * 4;
            display: flex;
            align-items: flex-end;
        }
        &__img-globe {
            max-width: 100%;
            height: auto;
        }
        &__icon {
            margin-bottom: $space * -.5;
        }
        &__sing-in {
            align-self: flex-end;
            padding-bottom: $deskopt-header-space * .25;
            padding-left: $space * 2;
            padding-right: $space * 2;
        }
        &__button {
            margin-left: $space;
            padding-top: $deskopt-header-space;
            padding-right: $space * 13;
            padding-bottom: $deskopt-header-space * .25;
            padding-left: $space * 5;
            max-width: 280px;
            text-align: left;
            flex: 1 1 auto;
        }
        @include max-media($br-deskopt) {
            &__element {
                padding-left: $space;
                padding-right: 0;
            }
            &__globe, &__icon, &__sing-in {
                padding-left: $space;
                padding-right: 0;
            }
            &__button {
                padding-right: 0;
            }
        }
    }
}

@include max-media($br-tablet) {
    .hdr-top {
        max-height: $max-mobile-hdr-top-height;
        padding-top: $mobile-header-space;
        padding-bottom: $mobile-header-space * .5;
        align-items: center;
        &__logo {
            padding: 0;
            padding-left: $space * 2;
        }
        &__nav {
            display: block;
        }
        &__registration {
            display: none;
        }
    }
}


@import "components/_header-top__select-nav";

@import "components/_header-bottom";

.hamburger {
    display: none;
}
@include max-media($br-tablet) {
    @import "components/_header-top__hamburger-menu";
}
