.hdr-bottom {
    max-height: $max-deskopt-hdr-bottom-height;
    &__nav {
        padding-top: $deskopt-header-space;
        padding-bottom: $deskopt-header-space;
        &__list {
            display: flex;
            justify-content: flex-start;
        }
        &__link {
            color: $black-color;
            padding-right: $space * 4;
            font-size: $body-font-size * 1.12;
            display: inline-block;
            transition: all .3s;
            cursor: pointer;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                background: #00FFCC;
                transition: width .3s;
            }
            &:hover::after {
                width: 100%;
            }
            &:hover {
                text-shadow: 1px 0 0 $black-color;
            }
            @include max-media($br-tablet) {
                padding-right: $space * 2;
                font-size: $body-font-size * .8;
            }

            &--selected {
                text-shadow: 1px 0 0 $black-color;
                &::after {
                    width: 33px;
                }
            }
        }
    }
}

@include max-media($br-tablet) {
    .hdr-bottom__nav {
        display: none;
    }
}
