
//DESKOPT

.management {
    position: relative;
    overflow: hidden;
    background-color: $grey-color;

    &__list {
        @include grid(row);
        margin-left: $space * -1;
        margin-right: $space * -1;
    }

    &__element {
        @include grid-col-tablet(3);
        padding: $space * 6 $space $space * 9 $space;

        &__title {
            @extend %second-headerline-text;
            max-width: $space * 33;
            padding-bottom: $space * 4;
        }

        &__text {
            max-width: $space * 33;
            font-weight: 300;
        }
    }
}

//MOBILE

@include max-media($br-tablet) {

    .management__list {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .management__element {
        flex: 0 0 100%;
        padding-top: $space * 12;

        &__title {
            margin: 0 auto;
        }

        &__text {
            margin: 0 auto;
        }
    }
}


