
//DESKOPT

.management {
    overflow: hidden;
    background-color: $grey-color;

    &__container {
        @include grid(row);
    }

    &__element {
        @include grid-col-tablet(3);
        padding: $space * 6 0;
        margin-left: $space * -1;
        margin-right: $space * -1;

        &__title {
            @extend %second-headerline-text;
            max-width: $space * 33;
            padding-bottom: $space * 4;
            padding-left: $space;
            padding-right: $space;
        }

        &__text {
            max-width: $space * 33;
            font-weight: 300;
            padding-left: $space;
            padding-right: $space;
        }
    }
}

//MOBILE

@include max-media($br-tablet) {

    .management__container {
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0;
    }

    .management__element {
        flex: 0 0 100%;
        margin: 0;

        &__title {
            margin: 0 auto;
        }

        &__text {
            margin: 0 auto;
        }
    }
}
