.shop-zonifero {
    background-color: $grey-color;

    &__container {
        padding-top: $space * 9;
        padding-bottom: $space * 9;
        display: grid;
        grid-template-columns: minmax(350px, 1fr) 2fr;
        grid-template-areas:
        "hdr bg"
        "txt bg"
        "btn bg";

        &__title {
            grid-area: hdr;
            @extend %another-headerline;
        }
        &__text{
            grid-area: txt;
            padding-top: $space * 4;
            padding-bottom: $space * 2;
        }
        &__wrap-btn {
            grid-area: btn;
            padding-top: $space * 2;
        }

        &__background {
            grid-area: bg;

            @media (max-width: 1250px) {
                background:
                url(/assets/images/printer.png) calc(50% - 14vw) bottom/23% no-repeat,
                url(/assets/images/_Lobby_Starter_Kit.png) center bottom/33% no-repeat,
                url(/assets/images/uchwyt.png) calc(50% + 14vw) bottom/26% no-repeat;
            }

            background:
            url(/assets/images/printer.png) calc(50% - 175px) bottom/23% no-repeat,
            url(/assets/images/_Lobby_Starter_Kit.png) center bottom/33% no-repeat,
            url(/assets/images/uchwyt.png) calc(50% + 175px) bottom/26% no-repeat;
        }
    }

    @include max-media($br-tablet) {
        &__container {
            padding-top: $space * 3;
            padding-bottom: $space * 3;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr 2fr auto;
            grid-template-areas: "hdr" "txt" "bg" "btn";

            &__background {
                background: url(/assets/images/mob_starter_kit.png) bottom/contain no-repeat;
            }

            &__wrap-btn {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
