$color-1: #000000;
$color-2: #2A2A2A;
$color-3: #3046FF;
$color-4: #FFFFFF;
$color-5: #F7F7F7;
$color-6: #E7E7E7;
$color-7: #FEFFFF;
$color-8: #1DC48E;
$color-9: #EDEDED;
$color-10: #00FFCC;
$color-11: #FF0000;
$color-12: #EBEBEB;
$color-13: #F5F5F5;
$color-14: #4285F4;
$color-15: rgba(66,133,244,0.45);
$color-16: rgba(0,197,153,0.47);
$color-17: #E8E9EB;
$color-18: #00C599;
$color-19: #EEEEEE;
$color-20: #005AFF;
$color-21: #1A1A18;
$color-22: #222222;

$font-1: 'Roboto', sans-serif;
$font-2: 'Poppins', sans-serif;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;

$base-unit: 1rem;

$body-font-size: $base-unit;
$body-line-height: 1.5;

$space: .5882 * $base-unit; // ~10px

$wrapper-max: 70.5882 * $base-unit; // ~1200px

$br-mobile: 360px;
$br-big-mobile: 420px;
$br-tablet: 768px;
$br-deskopt: 1200px;
$br-deskopt-xl: 1680px;

