.workplace {
    background: url(/assets/images/first_section_bg.png) center /cover no-repeat;
    height: calc(100vh - #{$max-deskopt-hdr-top-height} - #{$max-deskopt-hdr-bottom-height});

    &__container {
        height: 100%;
        display: grid;
        // justify-content: center;
        // align-content: center;
        // align-items: center;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "A C"
        "B C";

        &__title {
            grid-area: A;
        }

        &__content {
            grid-area: B;
        }
        &__mobile-photo {
            grid-area: C;
            height: 100%;
            background: url(/assets/images/hand.png) center /contain no-repeat;
        }
    }
}
