$max-workplace-container: $base-unit * 26.47; // ~450px
$max-width-workplace-content: $base-unit * 24.24; // ~450px
$max-height-workplace-content: $base-unit * 17.65; // ~300px

$deskopt-bg-positioning: left 85% bottom -100px;
$mobile-bg-positioning: right -20px top 225px;

.workplace {
     background: url(/assets/images/hand.png) $deskopt-bg-positioning /contain no-repeat, url(/assets/images/first_section_bg.png) right /cover no-repeat;
    height: calc(100vh - #{$max-deskopt-header-height});
    min-height: calc(#{$max-deskopt-header-height} + #{$max-workplace-container});
    &__container {
        @include grid(column);
        justify-content: center;
        height: 100%;
        @include max-media($br-deskopt) {
            justify-content: space-between;
        }

        &__title {
            @extend %main-headerline-text;
            padding-top: $space * 6;
        }

        &__content {
            @include grid-col-deskopt(2);
        }
        &__message {
            padding-top: $space * 4;
            padding-bottom: $space * 6;
            color: $black-color;
            font-size: $body-font-size * 1.76;
            line-height: $body-font-size * 2.35;
            @include max-media($br-deskopt) {
                font-size: $body-font-size * 1.60;
                line-height: $body-font-size * 1.88;
            }
            @include max-media($br-tablet) {
                font-size: $body-font-size * 1.44;
                line-height: $body-font-size * 1.41;
            }
        }
    }
}


// MOBILE

@include max-media($br-deskopt) {
    .workplace {
        background: url(/assets/images/hand.png) $mobile-bg-positioning /contain no-repeat, url(/assets/images/desks.png) right /contain no-repeat, $grey-color;
        height: calc(100vh - #{$max-mobile-hdr-top-height} + #{$max-height-workplace-content});

        &__container {
            padding-left: 0;
            padding-right: 0;

            &__title {
                padding-left: $space * 2;
                padding-right: $space * 2;
            }

            &__content {
                height: $max-height-workplace-content;
                background-color: $grey-color;
                padding-left: $space * 2;
                padding-right: $space * 2;
            }
            &__message {
                max-width: $max-width-workplace-content;
                margin: 0 auto;
                padding-top: $space * 4;
                padding-bottom: $space * 6;
                color: $black-color;
                font-size: $body-font-size * 1.29;
                line-height: $body-font-size * 1.88;
            }
            &__buttons {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (max-width: $br-deskopt) and (orientation: landscape) {
    .workplace {
        background: url(/assets/images/hand.png) right top /contain no-repeat, url(/assets/images/desks.png) center /contain no-repeat, $grey-color;
    }
}
